.sidebar {
    transform-origin: left;
    max-width: 40vw;
    padding: 0.5rem 1rem;
    border: 1px solid var(--secondary-color);
    border-left: none;
    position: fixed;
    height: 100vh;
    overflow: auto;
    display: flex;
    background-color: var(--background-color);
    margin-top: 0.5px;
    transition: transform 0.3s;
}

form > div:not(:first-child) {
    border-top: 1px solid var(--secondary-color);
    padding-top: 1.5rem;
}

form > div {
    margin-bottom: 2rem;
}

.section-heading, .header-and-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.section-heading > svg {
    background-color: var(--primary-text-color);
    border-radius: 5px;
    width: 1rem;
    height: 1rem;
    min-height: 1rem;
    min-width: 1rem;
}

h1 {
    font-weight: 400;
}

h2, p, input, #editor, select {
    font-weight: 200;
}

.section-heading > h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

input, #editor, select {
    font-size: 1.05rem;
}

input, #editor, select, button {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  width: 100%;
  color: var(--primary-text-color);
  position: relative;
  padding: 0.2rem 0.5rem;
}

#editor {
    min-height: 5rem;
    max-height: 5rem;
    overflow: auto;
    color: grey;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.graduation-and-gpa, .major-and-degree, .skill-name, .url-links, .mail-and-phone, .from-to {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: end;
}

.major-and-degree > .degree, .graduation-and-gpa > .gpa , .skill-name > div:nth-child(1) { flex: 1; }
.major-and-degree > .major, .graduation-and-gpa > .graduation, .skill-name > div:nth-child(2) { flex: 2; }

.info-on-more-info {
    position: absolute;
    z-index: 2;
    transform: translate(20px, -100%);
    width: 25vw;
    opacity: 0;
    visibility: hidden;
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease-in;
}

/* Show tooltip when the trigger span is hovered */
.more-info > h2:hover .info-on-more-info{
    opacity: 1;
    visibility: visible;
}

.more-info > h2 {
    cursor: pointer;
    max-width: fit-content;
}

.close {
  transform: scaleY(0);
  height: 0;
  overflow: hidden;
  transition: height 0.3s, transform 0.3s;
}

#root > div > form > div > div:nth-child(2), .other-school-info, .other-company-info, .other-project-info, .other-activity-info, .more-experience-info-section, .experience-other-more-info-container {
    transform-origin: top;
    overflow: hidden;
    transition: height 0.3s, transform 0.3s;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 98%;
}

input:focus, #editor:focus, select:focus, select:hover {
    outline: none;
    border: 1px solid var(--primary-text-color);
}

.dropdown-svg, .school-dropdown {
    cursor: pointer;
    transition: transform 0.3s;
}

.rotated {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

#root > div.sidebar > form > div:nth-child(7) {
    padding-bottom: 2rem;
}

.school-name-header, .summary-dropdown-hide, .company-name-header, .project-name-header, .activity-name-header, .dropdown-hide, .subsection-name-and-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.delete-icon {
    color: rgb(252, 121, 121);
    transition: color 0.3s;
    cursor: pointer;
}

.delete-icon:hover {color: rgb(255, 0, 0);}

.add-icon {
    color: rgb(0, 191, 255);
    transition: color 0.2s;
    cursor: pointer;
}

.add-icon:hover {
    color: rgb(0, 102, 255);
}

.education-name, .education-info-container, .other-school-info, .other-company-info, .experience-info-container, .other-project-info, .other-activity-info, .more-experience-info-section, .generic-experience, .experience-other-more-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.resume-education-info {
    margin-bottom: 0.75rem;
}

.resume-education-info:nth-last-child(1) {
    margin-bottom: 0rem;
}

#gpa {
    min-width: 5.5rem;
}

.other-school-info > .more-info > #editor {
    transform: translateY(-1.3rem);
}

#root > div.sidebar > form > div:nth-child(3) > div.education-info-container > div.other-school-info > div.more-info > span > svg {
    transform: translateY(-125%);
}

.hide > svg {
    position: relative;
    transform: translateY(5%);
}

svg:hover, .dropdown-svg:hover, .add-icon:hover, .delete-icon:hover, .school-dropdown {
    transition: transform 0.2s;
}

svg:hover, .dropdown-svg:hover, .add-icon:hover, .delete-icon:hover, .school-dropdown:hover {
    transform: scale(1.25);
}

#root > div.sidebar > form > div:nth-child(3) > div.education-info-container > div.other-school-info > div.more-info > span > svg:hover {
    transform: scale(1.15) translateY(-115%) !important;
}

.rotated:hover {
    transform: scale(1.25) rotate(180deg);
}

.close-sidebar-icon {
    position: fixed;
    border: 1px solid var(--secondary-color);
    line-height: 100%;
    background-color: var(--background-color);
    padding: 0px 5px 1px 3px;
    border-left: 0px;
    top: 1rem;
    left: 40vw;
    cursor: pointer;
    transition: transform 0.3s;
}

.close-sidebar-icon.rotated-icon {
    transform: translateX(-40.5vw);
}

.sidebar-close {
    transform-origin: left;
    transform: scaleX(0);
}

.close-sidebar-icon > p {
    transition: transform 0.3s;
}

.close-sidebar-icon.rotated-icon:hover {
    transform: translateX(-40.5vw) scale(1.2);
}

.close-sidebar-icon:hover {
    transform: scale(1.2);
}

.turn-the-icon {
    transform: rotate(180deg);
    padding: 0px 6px 2px 0px;
}

div.from-to {align-items: center;}

div.school-name-header, div.company-name-header, .project-name-header, .activity-name-header, .header-and-icons {line-height: 200%;}

.experience-info-container > div:not(:nth-child(1)),
.projects-info-container > div:not(:nth-child(1)), .activities-info-container > div:not(:nth-child(1)) 
{padding-top: 2rem;}

.company-name, .project-name, .club-name {
    margin-bottom: 1rem;
}

.add-delete-hide-subsection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.add-delete-hide-subsection > *, button.hide > svg {
    align-self: stretch;
    justify-self: center;
    place-content: center;
}

.add-or-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.custom-select {
  min-width: 350px;
  position: relative;
}

.custom-select select {
  appearance: none;
  width: 100%;
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid white;
  top: 45%;
  right: 0.60rem;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid white;
  top: 45%;
  right: 0.60rem;
}

#root > div.sidebar > form > div:nth-last-child(1) {
    padding-bottom: 2rem;
}