/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/Outfit/Outfit-VariableFont_wght.ttf');
}

html {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  --background-color: white;
    --primary-color: rgb(15, 23, 42);
    --primary-text-color: white;
    --secondary-text-color: rgb(71, 85, 105);
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: black;
    --primary-color: rgb(2, 6, 23);
    --secondary-color: rgb(30, 41, 59);
    --primary-text-color: white;
    --secondary-text-color: #e2e8f0;
  }
}

html {
  background: var(--background-color);
  color: var(--primary-text-color);
}

::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-text-color);
  border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
  /* optional: reduce its opacity if it’s too stark */
  cursor: pointer;
}

#root {
  display: flex;
  overflow-x: auto;
}